SOSIntegrator/Service References/DAHSOS/EuropCarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EuropCarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://europcarservicetest.sos.eu/EuropCarService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://europcarservicetest.sos.eu/EuropCarService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://europcarservicetest.sos.eu/EuropCarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EuropCarService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEuropCarService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IEuropCarService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IEuropCarService_SetReservationStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReservationStatus" />
  </wsdl:message>
  <wsdl:message name="IEuropCarService_SetReservationStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReservationStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IEuropCarService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IEuropCarService/Ping" message="tns:IEuropCarService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEuropCarService/PingResponse" message="tns:IEuropCarService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetReservationStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IEuropCarService/SetReservationStatus" message="tns:IEuropCarService_SetReservationStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEuropCarService/SetReservationStatusResponse" message="tns:IEuropCarService_SetReservationStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEuropCarService" type="tns:IEuropCarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IEuropCarService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReservationStatus">
      <soap:operation soapAction="http://tempuri.org/IEuropCarService/SetReservationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EuropCarService">
    <wsdl:port name="BasicHttpBinding_IEuropCarService" binding="tns:BasicHttpBinding_IEuropCarService">
      <soap:address location="http://europcarservicetest.sos.eu/EuropCarService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>